

/*----------------- HEADER STYLE ---------------*/

.hero {
  background-color: rgb(34, 34, 175);
  padding: 20px;
  color: white;
}

.hero h1 {
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}


/*------------- SET-DATA SECTION STYLE---------------*/


.set-data {
  margin: 30px auto;
}

.employee-date {
  margin-top: 10px;
  background-color: rgb(226, 222, 222);
  padding: 20px 20px 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/*------------- REPORTDAILY-DETAILS SECTION STYLE---------------*/

.report-details {
  margin-top: 50px;
  border: 0.3px solid rgb(155, 153, 153);
  padding: 20px 10px;
}

.report-details h5 {
  margin-left: 80px;
  color: rgb(34, 34, 175);
  font-weight: bold;
}


.report-details h6 {
  font-weight: bold;
}

.detail {
  height: 15px;
}

.cell {
  text-align: center;
}



/*------------- CALCULATE-TOTAL SECTION STYLE---------------*/

.calculate-total {
  border-left: 0.3px solid rgb(155, 153, 153);
  border-right: 0.3px solid rgb(155, 153, 153);
  border-bottom: 0.3px solid rgb(155, 153, 153);
  margin-bottom: 80px;
  padding: 20px 0px;
}

.calculate-total h6 {
  font-weight: bold;
}



/*--------------- EDIT WINDOW STYLE---------------*/

.edit {
  width: 800px;
  height: 500px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -150px;
  margin-left: -400px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(155, 153, 153);
  padding: 20px;
}

.out {
  display: none;
}

#close-btn {
  display: block;
  margin: 40px auto;
  width: 150px;
  height: 40px;
  text-align: center;
}
/*------------- ERROR MESSAGE WINDOW STYLE---------------*/

.error-message {
  width: 800px;
  height: 300px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -150px;
  margin-left: -400px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(155, 153, 153);
  color: red;
}

.error-message h5 {
  font-weight: bold;
  opacity: 1;
  text-align: center;
  margin-top:100px;
}

.error-message a {
  display: block;
  margin: 20px auto;
  width: 200px;
  text-align: center;
}
